<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script defer src="scripts/vue.min.js"></script>
    <script defer src="scripts/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app">
    <div class="product">
        <div class="product-image">
            <img :src="image" :alt="altText"/>
        </div>
        <div class="product-info">
            <h1>{{ product }}</h1>
            <p v-if="inStock">In stock</p>
            <p v-else>Out of Stock</p>
            <ul>
                <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <div v-for="variant in variants" :key="variant.variantId">
                <p>{{ variant.variantColor }}</p>
            </div>
            <div class="cart">
                <p>Cart({{ cart }})</p>
            </div>
            <button v-on:click="cart += 1">Add to cart</button>
        </div>
    </div>
</div>
</body>
</html>